.Banner{
    background-color: #111;
}

h1{
    margin-top: 0;
    color: #292929;
}

.banner__container{
    width: 80%;
    margin: auto;
    padding: 132px 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner__container h1{
    margin: 0;
    font-size: 14rem;
    font-weight: 900;
    font-stretch: normal;
}

.banner__second{
    width: 97%;
    display: flex;
    justify-content: space-between;
}

.banner__second h2{
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    width: 29%;
    margin: 0;
}


.block__img{
    object-fit: contain;
    position: absolute;
    left: -6%;
    top: -8rem;
}

.banner__cta{
    display: flex;
    align-items: center;
    color: #fff;
    background: #007eff;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}
.banner__cta p{
    font-size: 17px;
    position: relative;
    left: -20px;
}

.banner__cta img{
    position: relative;
    left: -9px;
}

.banner___empty{
    background-color: #111;
    height: 4rem;
    width: 70%;
}