.contact__page {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.parent-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.popping-border {
  width: 40%;
  background-color: #fff;
  height: 46px;
  border-radius: 4px;
  border: 0.5px solid #007eff;
  margin-top: 1%;
  font-size: 14px;
  padding: 8px;
}

.popping-border-area {
  width: 40%;
  background-color: #fff;
  height: 150px;
  border-radius: 4px;
  border: 0.5px solid #007eff;
  margin-top: 1%;
  padding: 9px;
}

.popping-border :focus {
  width: 40%;
  background-color: #fff;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #007eff;
  outline: none;
  font-size: 14px;
}

input:focus {
  border: 1px solid #007eff;
  outline: none;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.16);
}

.submit_btn {
  background-color: #007eff;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-top: 1%;
  border: none;
  padding: 15px 60px;
  border-radius: 6px;
  cursor: pointer;
}

.success__message {
  background: #58e358;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  border-radius: 6px;
}

.error__message {
  background: #ff0000;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  border-radius: 6px;
}
