.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 57px;
  align-items: center;
  background-color: #111;
}

.header__left h1 {
  font-size: 31px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  margin-bottom: 0;
}
.header__left h1 a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.header__right {
  position: relative;
}

.header__right h2 {
  color: #fff;
  margin: 0;
  font-size: 24px;
}

.header__right h2 a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* ul {
  cursor: pointer;
}
ul li {
  list-style: none;
  width: 100%;
  height: 4px;
  background: #fff;
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  box-shadow: 0 0 7px rgb(0 0 0 / 50%);
  transition: 0.9s;
}
ul li:nth-of-type(1) {
  top: -14%;
}
ul li:nth-of-type(2) {
  top: 42%;
}
ul li:nth-of-type(3) {
  top: 90%;
}

ul.active li:nth-of-type(1) {
  top: 42%;
  transform: translateY(-50%) rotate(45deg) rotateY(180deg);
}
ul.active li:nth-of-type(2) {
  left: -300%;
  opacity: 0;
}
ul.active li:nth-of-type(3) {
  top: 42%;
  transform: translateY(-50%) rotate(-45deg) rotateY(180deg);
} */

.header__logo {
  width: 204px;
}
